$white2:#b9b9b9;

#standard-basic{
  color: $white2;
  width: 100%;
}
#standard-basic-label{
  color: $white2;
}
.MuiFormControl-root{
  width: 100%;
  font-size: 0.5em;
}
.container{
  max-width: 1400px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.search{
  padding: 10px 0;
  background-color: #17141f;
  box-shadow: -5px -5px 18px -5px rgba(34, 60, 80, 0.6) inset;
}